#content {
  display: grid;
}

.image-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.image-content img {
  width: 400px;
  height: 400px;
}

.header {
  display: flex;
  justify-content: center;
}