html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end CSS reset */

:root {
  --slate-700: #334155;
  --slate-400: #94a3b8;
}

#content {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--slate-400);
  color: white;
}

.image-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.image-content img {
  width: 400px;
  height: 400px;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--slate-700);
  color: white;
}

ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  font-size: 1.7rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-size: 2rem;
}


@font-face {
  font-family: 'ComforterBrush';
  src: url(./ComforterBrush-Regular.ttf);
}
.signature {
  font-family: 'ComforterBrush';
  font-size: 5rem;
  color: blanchedalmond;
}